$navbar-height: 3rem

.mainnav
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: z(navbar)
    background: transparentize($color-positive, .1)
    height: $navbar-height + 1.5rem
    display: flex
    padding: .7rem 10vw
    justify-content: space-between

    @supports (-webkit-backdrop-filter: blur(1rem))
        background: transparentize($color-positive, .3)
        -webkit-backdrop-filter: blur(1rem)

    .logo
        height: $navbar-height
        width: 5rem
        align-self: flex-start

    ul
        list-style: none
        display: flex
        height: $navbar-height
        align-items: center

    li
        margin-left: 3rem


    a:link,
    a:visited
        color: $color-negative
        text-decoration: none

    a:hover,
    a:focus,
    a:active
        border-bottom: pxToRem(2) solid $color-negative

    @include media(small)
        .logo
            width: 3rem

        li
            font-size: .9rem
            margin-left: 1.5rem

        li:first-of-type
            display: none
