$categories: ('design': $color-secondary, 'media': $color-tertiary, 'service': false, 'education': $color-grey-scale2)

.about_timeline
    padding: 0
    position: relative

    .timeline_tooltip
        float: right
        margin: 1rem 0
        min-height: 1rem
        min-width: 1rem
        opacity: 0
        transition: opacity 300ms ease

    &:hover .timeline_tooltip
        opacity: 1

.timeline
    margin: 0

.timeline_chart
    height: pxToRem(115)
    overflow: visible

#diagonalHatch
    path
        stroke: $color-grey-scale3
        stroke-width: pxToRem(1)

.timeline_tickLine
    stroke: $color-grey-scale4
    stroke-width: 1px

.timeline_tickLabel
    @extend small
    text-anchor: middle
    fill: $color-grey-scale3

.timeline_item
    fill: #3ea
    height: pxToRem(5)
    animation: 900ms fadeInLeft
    min-width: 100px
    transition: transform 300ms ease
    transform-origin: center
    stroke: transparent
    stroke-width: 10px

    &.design
        fill: $color-secondary
    &.media
        fill: $color-tertiary
    &.service
        fill: url(#diagonalHatch)
        stroke: $color-grey-scale3
        stroke-width: #{1 / $rem}em

    &.education
        fill: $color-grey-scale2

    &:hover
        transform: scaleY(2) scaleX(1.05)

.timeline_legend
    position: absolute
    top: 7rem
    right: 1rem

    li
        display: inline-block
        color: $color-grey-scale2
        margin-right: 2rem

        &::before
            content: ''
            display: inline-block
            position: relative
            height: .75rem
            width: .75rem
            margin-right: .5rem
            border-radius: 1rem
            top: .1rem
            border-width: pxToRem(1)
            border-style: solid

        @each $category, $color in $categories
            @if $color
                &.#{$category}::before
                    border-color: $color
                    background-color: $color
            @else
                &.#{$category}::before
                    border-color: $color-grey-scale3
                    background: repeating-linear-gradient(-45deg, $color-grey-scale3, $color-grey-scale3 pxToRem(1), transparent pxToRem(2), transparent pxToRem(4))