<!DOCTYPE html>
<html lang="no-nb">
    <head>

        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <base href="#" />

        <title> Highlighter / Jørgen Arnor G. Lom </title>

        <!-- Sharing metadata -->
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@highlighterNO">
        <meta name="twitter:creator" content="@lommelom">

        <meta property="og:site_name"    content="Highlighter Lom" />
        <meta name="twitter:site"        content="Highlighter Lom" />

        <meta property="og:title"        content="Highlighter Lom" />
        <meta name="twitter:title"       content="Highlighter Lom" />

        <meta name="description"         content="Highlighter er et ènmannstudio for&nbsp;web-&nbsp;&amp;&nbsp;grafisk&nbsp;design, medieproduksjon&nbsp;og kommunikasjonsrådgiving.">
        <meta property="og:description"  content="Highlighter er et ènmannstudio for&nbsp;web-&nbsp;&amp;&nbsp;grafisk&nbsp;design, medieproduksjon&nbsp;og kommunikasjonsrådgiving.">
        <meta name="twitter:description" content="Highlighter er et ènmannstudio for&nbsp;web-&nbsp;&amp;&nbsp;grafisk&nbsp;design, medieproduksjon&nbsp;og kommunikasjonsrådgiving.">

        <meta property="og:url"          content="http://highlighter.no">
        <meta name="twitter:url"         content="http://highlighter.no">


        <meta property="og:image"        content="">
        <meta property="og:image:width"  content="">
        <meta property="og:image:height" content="">
        <meta name="twitter:image"       content="">
        <meta name="twitter:image:alt"   content="Highlighter Lom">


        <!-- Stylesheets -->
        <link rel="stylesheet" href="style/main.css" />

        <!-- Favicons -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/img/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/img/favicon-228x228.png" sizes="228x228">

        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-precomposed-57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-precomposed-60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-precomposed-72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-precomposed-76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-precomposed-114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-precomposed-120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-precomposed-144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-precomposed-152.png">


    </head>
    <body>

    <nav class="mainnav">
        <a href="index.html" title="Ta meg hjem" class="logo">
            <img src="img/logo.svg" alt="Highlighter Logo" class="logo" />
        </a>

        <ul>
            <li><a href="index.html">Hjem</a></li>
            <li><a href="about.html">CV</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Behancē</a></li>
            <li><a href="contact.html">Kontakt</a></li>
        </ul>

    </nav>
