.contactform
    position: absolute
    right: 10vw
    width: 30rem

.suggestion
    position: absolute
    right: 0
    font-size: 1rem
    color: $color-secondary
    cursor: pointer

    &:not(:empty)
        animation: 300ms ease bounceInUp