<%- include('templates/header') %>


    <img src="img/jl.jpg" alt="Bilde av Jørgen Arnor" class="about_image">
 
    <header class="about_header">
        <h2>Jørgen Arnor Gårdsø Lom</h2>
        <p> Jeg er en web- og grafisk designer, med bakgrunn fra mediebransjen. Ved siden av Highlighter, jobber jeg som UX-designer hos Uni Micro AS, hvor jeg er del av et fantastisk team som lager verdens beste økonomisystem.</p>
        <p>Du finner meg som regel i krysningspunktet mellom media, design og brukervennlighet.</p>
    </header>







    <article class="about_cv">
        <h2>Curriculum Vitae</h2>

        <figure class="about_timeline"></figure>

        <article class="about_location">

            <h3>Nordnorsk siddis i&nbsp;Bergen</h3>

            <p>Jeg kommer fra Stavanger, men har funnet meg godt til rette mellom de syv fjell i Bergen. Her pleier jeg mine nordnorske slektsrøtter med Mack-øl og Kari&nbsp;Bremnes.</p>

            <p>

            <figure class="map"></figure>
        </article>

        <ol class="about_resume">
            <li>
                <img src="img/unimicro.svg" alt="">
                <h3>Senior webdesigner</h3>
                <strong>Uni Micro AS</strong>
                <time>Mai 2015 -</time>
                <p>Ansvarlig for visuell utforming, brukervennlighet, universell design, UX og IA for Uni&nbsp;Micros seks-år-på-rad prisvinnende økonomisystem.</p>
                <p>Leder det interne arbeidet med human interface guidelines, applikasjonsprofilmanual, og visuelle komponentbibliotek. Arbeider med responsivt- og tverrplattform UI-design og utvikling for web.</p>
            </li>
            <li>
                <img src="img/wolftech.svg" alt="">
                <h3>Sr. VP, Design &amp; Marketing</h3>
                <strong>Wolftech Broadcast Solutions AS</strong>
                <time>Januar 2013 - April 2015</time>
                <p>Ansvarlig frontendutvikler for alle webprodukt, UX-designer og ansvarlig for grafisk profil. Gjennomførte en full rebrand for selskapet i 2013 inkl. logo, profil og tilstedeværelse på internett, samt stod for markedsføring under fem internasjonale bransjemesser (IBC og NAB).</p>
            </li>
            <li>
                <img src="img/highlighter.svg" alt="">
                <h3>Web og grafisk designer</h3>
                <strong>Highlighter Lom</strong>
                <time>Januar 2011 -</time>
                <p>Daglig leder for Highlighter, et ettmannsorkester av web- og grafisk design, medieproduksjon og kommunikasjonsrådgiving.</p>
                <p>Særlig opptatt av å hjelpe små og mellomstore bedrifter å tjene gode penger på brukervennlighet, tilgjengelighet og bedre produkter.</p>
            </li>
            <li>
                <aside>
                    <img src="img/tv2.svg" alt="">
                    <h4>Administrator</h4>
                    <strong>TV 2 AS</strong>
                    <time>November 2010 - Mai 2015</time>
                </aside>
            </li>
        </ol>

    </article>

<%- include('templates/footer') %>