<%- include('templates/header') %>

<h1>Contact</h1>


<form>
    <small class="suggestion"></small>
    <input class="email_input" name="email" type="email" required>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button></button>
</form>


<%- include('templates/footer') %>